{{- partial "footer/actions-panel" . -}}
<div class="row text-center{{ if .Site.Menus.footer }} text-lg-start{{ end }}">
  <div class="col-12 mt-2{{ if .Site.Menus.footer }} col-lg-3{{ end }}">
    <p class="mb-2">{{ .Site.Title }}</p>
    <p class="text-secondary mb-2"><small>{{ .Site.Params.Description }}</small></p>
    {{- partialCached "footer/copyright" . -}}
    {{- partialCached "footer/powered-by" . -}}
    {{- partial "footer/social-links" . -}}
  </div>
  <div class="col-12 col-lg-8 offset-0 offset-lg-1">
    {{- partialCached "footer/menu" . -}}
  </div>
  {{- partialCached "footer/beian" . -}}
</div>
{{- if .IsHome }}
  <div class="bottom-easter-egg" data-bottom-easter-egg>
    <button class="bottom-easter-egg__hint" data-bottom-easter-hint type="button" aria-live="polite"></button>
    <a class="bottom-easter-egg__card" data-bottom-easter-card href="/games/jump/" target="_blank" rel="noopener noreferrer">
      <span class="bottom-easter-egg__card-title">可以进入小游戏</span>
      <span class="bottom-easter-egg__card-meta">点开就是你传上来的 H5 小游戏</span>
    </a>
  </div>
{{- end }}
